<div class="registration-container">
  <form action="" (ngSubmit)="onSubmit()" [formGroup]="myForm">
    <div class="username">
      <label for="username">Username: </label>
      <input type="text" name="username" id="username" formControlName="username">
    </div>
    <div class="email">
      <label for="email">Email: </label>
      <input type="email" name="email" id="email" formControlName="email">
    </div>
    <div class="password"><label for="password">Password: </label>
      <input type="password" name="password" id="password" formControlName="password">
    </div>

    <div class="role">
      <p>I am a:</p>
      
      <label>
        <input type="radio" formControlName="role" value="job-seeker" />
        Job Seeker
      </label>

      <label>
        <input type="radio" formControlName="role" value="recruiter" />
        Recruiter
      </label>
    </div>


    <button type="submit" [disabled]="!myForm.valid">
      Submit
    </button>
  </form>
</div>