
<div class = "container">
  <div *ngFor="let item of books" class="books-container">
    <div class="image">
      <img [src]="item.image_url" alt="" style="width: auto;">
    </div>
    <div class="content">
      <p>{{item.title}}</p>
      <p>{{item.author}}</p>
      <p>{{item.quantity}}</p>
    </div>
    <div class="controls">
      <button (click)="onDelete(item.id)">Delete</button>
      <button (click)="onUpdate(item.id)">Update</button>
    </div>
  </div>
  </div>

  <button (click)="onAddNewBook()">Add new book</button>
