<div class="login">
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div>
      <label for="email">Email</label>
      <input type="email" name="email" id="email" required email placeholder="johndoe@gmail.com" [(ngModel)]="loginData.email">
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required [(ngModel)]="loginData.password">
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>
