<body>
  <mat-toolbar class="pink-toolbar">
    <div class="left">
      <span class="logo">SkillMatch AI</span>
      <span class="spacer"></span>
    </div>
    <div class="center">
      <button mat-button [routerLink]="['landing-page']" routerLinkActive="router-link-active">Home</button>
      <button mat-button [routerLink]="['job-search']">Search Jobs</button>
      <button mat-button [routerLink]="['recruiters-dashboard']">Recruiters Dashboard</button>
      <button mat-button [routerLink]="['jobseeker-dashboard']">JobSeekers Dashboard</button>
      <button mat-button [routerLink]="['admin-dashboard']">Admin Dashboard</button>
      <button mat-button [routerLink]="['profile-viewer']">View Profile</button>
      <button mat-button [routerLink]="['create-jobs']">Create Jobs</button>
      <button mat-button [routerLink]="['notifications']">notifications</button>
    </div>
    <div class="register">
      <button mat-button [routerLink]="['login']">Login</button>
      <button mat-button [routerLink]="['registration-page']">Register</button>
    </div>

  </mat-toolbar>
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
  <!-- Footer -->
  <footer class="blue-footer">
    <div class="footer-content">
      <p>&copy; 2025 SkillMatch AI. All Rights Reserved.</p>
      <div class="footer-links">
        <button mat-button>Privacy Policy</button>
        <button mat-button>Terms of Service</button>
        <button mat-button>Contact</button>
      </div>
    </div>
  </footer>
</body>