<div class="form">
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <label for="title">Title:</label>
    <input id="title" formControlName="title" type="text" placeholder="Enter book title">
  </div>

  <div>
    <label for="author">Author:</label>
    <input id="author" formControlName="author" type="text" placeholder="Enter author's name">
  </div>

  <div>
    <label for="genre">Genre:</label>
    <input id="genre" formControlName="genre" type="text" placeholder="Enter book genre">
  </div>

  <div>
    <label for="publisher">Publisher:</label>
    <input id="publisher" formControlName="publisher" type="text" placeholder="Enter publisher name">
  </div>

  <div>
    <label for="publication_year">Publication Year:</label>
    <input id="publication_year" formControlName="publication_year" type="number" placeholder="Enter year">
  </div>

  <div>
    <label for="pages">Pages:</label>
    <input id="pages" formControlName="pages" type="number" placeholder="Enter total pages">
  </div>

  <div>
    <label for="image_url">Image URL:</label>
    <input id="image_url" formControlName="image_url" type="text" placeholder="Enter image URL">
  </div>

  <div>
    <label for="description">Description:</label>
    <textarea id="description" formControlName="description" placeholder="Enter book description"></textarea>
  </div>

  <div>
    <label for="quantity">Quantity:</label>
    <input id="quantity" formControlName="quantity" type="number" placeholder="Enter quantity">
  </div>

  <div>
    <label for="location">location</label>
    <input id="location" formControlName="location" type="string" placeholder="Enter location">
  </div>

  <button type="submit" [disabled]="form.invalid">Submit</button>
</form>
</div>
